.membership p{
  	font-family: "Public Sans", Sans-serif;
	font-size: 1rem;
	padding-top: 15px;
}

.socio p{
 	font-family: "Public Sans", Sans-serif;
	font-size: 1rem;
}

.socio button{
	color:white;
}

.formMembership label {
	margin-top: 10px;
}

.membership table{
	height: 400px;
	width: 100%;
}

.tableHeight table{
	height: 400px!important;
}

.membership span{
	text-align: center;
	padding-top: 5px;
	font-size: .8rem;
}

@media only screen and (max-width: 1280px) {
	.membership table{
		height: 300px;
	}
}


@media only screen and (max-width: 1024px) {
	.membership table{
		height: 400px;
	}

	.membership p{
		font-size: 1rem;
		padding-top: 20px;
	}

	.socio p{
		font-size: 1rem;
	}

	.membership span{
		padding-top: 10px;
		font-size: .8rem;
	}
}

@media only screen and (max-width: 768px) {
	.membership table{
		height: 350px;
	}

	.membership p{
		font-size: 0.8rem;
	}

	.socio p{
		font-size: 0.8rem;
	}

	.membership span{
		font-size: .6rem;
	}
}

@media only screen and (max-width: 600px) {
	.membership{
		padding:0px;
	}

	.membership table{
		height: 260px;
	}

	.membership p{
		padding-top: 5px;
	}

	.formMembership label {
		margin-top: 5px;
	}

}